<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Вход</title>
    <link th:rel="stylesheet" type="text/css" th:href="@{/styles/style.css}"/>
</head>
<body>
<div class="menu">
    <div class="menu-content">
        <div><img th:src="@{/img/logo.png}" alt=""/></div>
        <div></div>
        <div></div>
    </div>
</div>

<div class="book-content">
    <div class="book-content-position">
        <div class="registration">
            <form class="registration" method="POST" th:action="@{/login}">
                <p>Логин</p>
                <input name="username" type="search" placeholder="Username"
                       autofocus="true"/>
                <p>Пароль</p>
                <input name="password" type="search" placeholder="Password"/>
                <!--/*@thymesVar id="errorMessage" type="java.lang.String"*/-->
                <div class="alert" th:if="${errorMessage}" th:text="${errorMessage}"></div>
                <button class="button" type="submit">Войти</button>
                <button class="button" type="submit">
                    <a class="button" th:href="@{/registration}">Регистрация</a>
                </button>
            </form>
        </div>
    </div>
</div>
</body>
</html>