<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Вход</title>
    <link th:rel="stylesheet" type="text/css" th:href="@{/styles/style.css}"/>
</head>
<body>
<div class="menu">
    <div class="menu-content">
        <div><img th:src="@{/img/logo.png}" alt=""/></div>
        <div></div>
        <div></div>
    </div>
</div>

<div class="book-content">
    <div class="book-content-position">
        <div class="registration">
            <p>Вы хотите выйти?</p>
            <div style="display: flex; flex-direction: row;">
                <form th:action="@{/exit}" method="POST">
                    <button class="button" type="submit">Да</button>
                </form>
                <button class="button" type="submit">
                    <a class="a-button" th:href="@{/profile}">Нет</a>
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>