<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Профиль</title>
    <link th:rel="stylesheet" type="text/css" th:href="@{/styles/style.css}"/>
</head>
<body>
<div class="menu">
    <div class="menu-content">
        <div><img th:src="@{/img/logo.png}" alt=""/></div>
        <div></div>
        <div>
            <a id="menu" th:href="@{/home}">Главная</a>
            <a id="menu" th:href="@{/profile}">Профиль</a>
            <a id="menu" th:href="@{/exit}">Выйти</a>
        </div>
    </div>
</div>

<div class="book-content">
    <div class="book-content-position">
        <div class="book-content-lists">
            <div class="sub-head-line">
                <div class="sub-head-line-content">
                    <div class="sub-head-line-text">Список книг</div>
                </div>
            </div>


            <form method="POST" th:action="@{/profile/search}">
                <!--/*@thymesVar id="sourceText" type="java.lang.String"*/-->
                <input id="search" th:type="search-in-lib" placeholder="Введите название книги" name="query" th:value="${query}"/>
                <button class="button" type="submit">Поиск</button>
            </form>

            <div class ="sub-head-line">
                <div class="sub-head-line-content">
                    <div class="sub-head-line-text">Запланировано</div>
                </div>
            </div>
            <table>
                <thead>
                <tr>
                    <th style="width: 30%">Название</th>
                    <th style="width: 30%">Автор</th>
                    <th>Стр</th>
                    <th>Жанр</th>
                    <th>Год издания</th>
                    <th>Язык</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book: ${books1}">
                    <td>
                        <a id="a-profile-book" th:href="@{/book/{id}(id=${book.id})}" >
                            <h th:text="${book.name}"></h>
                        </a>
                    </td>
                    <td th:text="${book.author}"></td>
                    <td th:text="${book.page}"></td>
                    <td th:text="${book.genre}"></td>
                    <td th:text="${book.year}"></td>
                    <td th:text="${book.language}"></td>
                </tr>
                </tbody>
            </table>


            <div class ="sub-head-line">
                <div class="sub-head-line-content">
                    <div class="sub-head-line-text">Читаю</div>
                </div>
            </div>

            <table>
                <thead>
                <tr>
                    <th style="width: 30%">Название</th>
                    <th style="width: 30%">Автор</th>
                    <th>Стр</th>
                    <th>Жанр</th>
                    <th>Год издания</th>
                    <th>Язык</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book: ${books2}">
                    <td>
                        <a id="a-profile-book" th:href="@{/book/{id}(id=${book.id})}" >
                            <h th:text="${book.name}"></h>
                        </a>
                    </td>
                    <td th:text="${book.author}"></td>
                    <td th:text="${book.page}"></td>
                    <td th:text="${book.genre}"></td>
                    <td th:text="${book.year}"></td>
                    <td th:text="${book.language}"></td>
                </tr>
                </tbody>
            </table>


            <div class ="sub-head-line">
                <div class="sub-head-line-content">
                    <div class="sub-head-line-text">Перечитываю</div>
                </div>
            </div>

            <table>
                <thead>
                <tr>
                    <th style="width: 30%">Название</th>
                    <th style="width: 30%">Автор</th>
                    <th>Стр</th>
                    <th>Жанр</th>
                    <th>Год издания</th>
                    <th>Язык</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book: ${books3}">
                    <td>
                        <a id="a-profile-book" th:href="@{/book/{id}(id=${book.id})}" >
                            <h th:text="${book.name}"></h>
                        </a>
                    </td>
                    <td th:text="${book.author}"></td>
                    <td th:text="${book.page}"></td>
                    <td th:text="${book.genre}"></td>
                    <td th:text="${book.year}"></td>
                    <td th:text="${book.language}"></td>
                </tr>
                </tbody>
            </table>


            <div class ="sub-head-line">
                <div class="sub-head-line-content">
                    <div class="sub-head-line-text">Прочитано</div>
                </div>
            </div>

            <table>
                <thead>
                <tr>
                    <th style="width: 30%">Название</th>
                    <th style="width: 30%">Автор</th>
                    <th>Стр</th>
                    <th>Жанр</th>
                    <th>Год издания</th>
                    <th>Язык</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book: ${books4}">
                    <td>
                        <a id="a-profile-book" th:href="@{/book/{id}(id=${book.id})}" >
                            <h th:text="${book.name}"></h>
                        </a>
                    </td>
                    <td th:text="${book.author}"></td>
                    <td th:text="${book.page}"></td>
                    <td th:text="${book.genre}"></td>
                    <td th:text="${book.year}"></td>
                    <td th:text="${book.language}"></td>
                </tr>
                </tbody>
            </table>


            <div class ="sub-head-line">
                <div class="sub-head-line-content">
                    <div class="sub-head-line-text">Отложено</div>
                </div>
            </div>

            <table>
                <thead>
                <tr>
                    <th style="width: 30%">Название</th>
                    <th style="width: 30%">Автор</th>
                    <th>Стр</th>
                    <th>Жанр</th>
                    <th>Год издания</th>
                    <th>Язык</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book: ${books5}">
                    <td>
                        <a id="a-profile-book" th:href="@{/book/{id}(id=${book.id})}" >
                            <h th:text="${book.name}"></h>
                        </a>
                    </td>
                    <td th:text="${book.author}"></td>
                    <td th:text="${book.page}"></td>
                    <td th:text="${book.genre}"></td>
                    <td th:text="${book.year}"></td>
                    <td th:text="${book.language}"></td>
                </tr>
                </tbody>
            </table>


            <div class ="sub-head-line">
                <div class="sub-head-line-content">
                    <div class="sub-head-line-text">Брошено</div>
                </div>
            </div>

            <table>
                <thead>
                <tr>
                    <th style="width: 30%">Название</th>
                    <th style="width: 30%">Автор</th>
                    <th>Стр</th>
                    <th>Жанр</th>
                    <th>Год издания</th>
                    <th>Язык</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book: ${books6}">
                    <td>
                        <a id="a-profile-book" th:href="@{/book/{id}(id=${book.id})}" >
                            <h th:text="${book.name}"></h>
                        </a>
                    </td>
                    <td th:text="${book.author}"></td>
                    <td th:text="${book.page}"></td>
                    <td th:text="${book.genre}"></td>
                    <td th:text="${book.year}"></td>
                    <td th:text="${book.language}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="back-menu" >

        </div>


    </div>
</div>
</div>
</body>
</html>