<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Добавить книгу</title>
    <link th:rel="stylesheet" type="text/css" th:href="@{/styles/style.css}"/>
</head>
<body>
<div class="menu">
    <div class="menu-content">
        <div><img th:src="@{/img/logo.png}" alt=""/></div>
        <div></div>
        <div>
            <a id="menu" th:href="@{/home}">Главная</a>
            <a id="menu" th:href="@{/profile}">Профиль</a>
            <a id="menu" th:href="@{/exit}">Выйти</a>
        </div>
    </div>
</div>

<div class="book-content">
    <div class="book-content-position">
        <div class="registration">
            <form method="POST" th:object="${book}" th:action="@{'/book/' + ${book.getId()}+ '/edit'}">
                <div class="book-add-edit">Название:
                    <input id="reg1" th:field="*{name}" type="search" placeholder="Название"/>
                </div><br>
                <div class="book-add-edit">Автор:
                    <input id="reg2" th:field="*{author}" type="search" placeholder="Автор"/>
                </div><br>
                <div class="book-add-edit">Описание:
                    <input id="reg3" th:field="*{description}" type="search" placeholder="Описание"/>
                </div><br>
                <div class="book-add-edit">Год издания:
                    <input id="reg4" th:field="*{year}" type="search" placeholder="Год"/>
                </div><br>
                <div class="book-add-edit">Жанр:
                    <input id="reg5" th:field="*{genre}" type="search" placeholder="Жанр"/>
                </div><br>
                <div class="book-add-edit">Язык:
                    <input id="reg6" th:field="*{language}" type="search" placeholder="Язык"/>
                </div><br>
                <div class="book-add-edit">Количество страниц:
                    <input id="reg7" th:field="*{page}" type="search" placeholder="Страниц"/>
                </div><br>
                <div class="book-add-edit">ISBN:
                    <input id="reg8" th:field="*{isbn}" type="search" placeholder="ISBN"/>
                </div>
                <div class="book-add-edit">
                    <button class="button" type="submit">Изменить</button>
                    <button class="button">
                        <a class="a-button" th:href="@{/home}">Назад</a>
                    </button>
                </div>
            </form>
        </div>


    </div>
</div>
</div>
</body>
</html>