<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Поиск</title>
    <link th:rel="stylesheet" type="text/css" th:href="@{/styles/style.css}"/>
</head>
<body>
<div class="menu">
    <div class="menu-content">
        <div><img th:src="@{/img/logo.png}" alt=""/></div>
        <div></div>
        <div>
            <a id="menu" th:href="@{/home}">Главная</a>
            <a id="menu" th:href="@{/profile}">Профиль</a>
            <a id="menu" th:href="@{/exit}">Выйти</a>
        </div>
    </div>
</div>

<div class="book-content">
    <div class="book-content-position">
        <div class="book-content-lists">
            <div class="sub-head-line">
                <div class="sub-head-line-content">
                    <div class="sub-head-line-text">Список книг</div>
                </div>
            </div>

            <table>
                <thead>
                <tr>
                    <th style="width: 30%">Название</th>
                    <th style="width: 30%">Автор</th>
                    <th>Стр</th>
                    <th>Жанр</th>
                    <th>Год издания</th>
                    <th>Язык</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book: ${books}">
                    <td>
                        <a id="a-profile-book" th:href="@{/book/{id}(id=${book.id})}" >
                            <h th:text="${book.name}"></h>
                        </a>
                    </td>
                    <td th:text="${book.author}"></td>
                    <td th:text="${book.page}"></td>
                    <td th:text="${book.genre}"></td>
                    <td th:text="${book.year}"></td>
                    <td th:text="${book.language}"></td>
                </tr>
                </tbody>
            </table>

        </div>

        <div class="back-menu" >

            <form sec:authorize="hasRole('ROLE_ADMIN')" class="admin-back-menu">
                <div class ="sub-head-line">
                    <div class="sub-head-line-content">
                        <div class="sub-head-line-text">Действия </div>
                    </div>
                </div>
                <button class="button" type="submit">
                    <a class="a-button" th:href="@{/add-book}">Добавить книгу</a>
                </button>
            </form>

        </div>


    </div>
</div>
</body>
</html>